/* CSS Document */

html{
	scroll-behavior: smooth;
}

body {
	width: 100%;
	max-width: 1920px auto;
	background-color: white;
	padding: 0px;
	margin: 0px;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	overflow-x: hidden;
	min-height: 100vh;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

h1 {
	font-family: 'Righteous';
	font-size: 3em;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
	font-weight: 600;
	color: white;
	line-height: 2;
	text-shadow: 1px 1px 3px dimgray;
}

h3 {
	font-family: 'Righteous';
	font-size: 2em;
	font-style: normal;
	color: #1D1D1B;
	margin-bottom: 5px;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 10px;
}

h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 550;
	color: white;
	margin-bottom: 10px;
}

p {
	font-family: 'Open Sans', sans-serif;
}
	
/*------HEADERS-------*/

header {
	display: flex;
	width: 90%;
	max-width: 1920px;
	padding: 5px 5%;
	justify-content: space-between;
	background: white;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	position: fixed;
	top: 0px;
	z-index: 100;
	animation: fade 1s ease-in;
}

header nav {
	width: 700px;
	display: flex;
	padding: 15px 0px;
	justify-content: space-between;
	align-items: center;
}

nav a {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	color: black;
}

a{
	text-decoration: none;
}

a:hover{
	font-weight: 600;
}

#estas-aqui{
	pointer-events: none;
}

.header-logo {
	height: 22px;
	width: 107px;
	margin: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header12 {
	background: #DD0820;
}
.header12 a{
	color: white;
}

.color12{
	color: #DD0820;
}

.header124 {
	background: #1D71B8;
}
.header124 a{
	color: white
}

.color124{
	color:#1D71B8;
}

.botoneramobile{
	display: none;
}

.headermobile {
	top: 50px;
	right: 50px;
	visibility: hidden;
}

.solodesktop {
	visibility: visible;
}

/*------FOOTER-------*/

footer{
	width: 90%;
	display: flex;
	justify-content: space-between;
	padding: 20px 5% 30px 5%;
	background-color: dimgray;
	margin-top: auto;
}

footer section div{
	display: flex;
	flex-direction: column;
	margin-right: 25px;
}

#logo-footer {
	width: auto;
	height: 75px;
	padding-top: 20px;
}
	
.listas-footer {
	width: 70%;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}

.iconos-footer {
	width: 14px;
	height: 14px;
	float: left;
	padding-right: 7px;
	padding-top: 5px
}
	
.a-footer {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: lighter;
	line-height: 25px;
}

/*------INDEX-------*/

/*------Galería-------*/

.carrosel1{
	width: auto;
	position: relative;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
}
.next {
	margin: 0px;
	right: 0;
	border-radius: 3px 0 0 3px;
}

.texto-img {
	position: absolute;
	font-size: 20px;
	top: 20%;
	left: 5%;
	width: 40%;
}

.texto-img h2{
	font-size: 30px;
	font-weight: 800;
	line-height: 1.5;
	text-shadow: 1px 1.5px 3px black;
}

/* Fading animation galería */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/*------Botones-------*/

#land-lineas{
	width:100%;
	display: flex;
	flex-direction: row;
}
#land-lineas a{
	width:50%;
}
#land-lineas button{
	width: 100%;
	height: 1080px;
	padding: 5%;
	float:left;
	border: none;
}

#land-12{
	background-color: #DD0820;
}
#land-12:hover{
	box-shadow: 0 0 12px rgba(70,150,240,0.7) inset;
	filter: brightness(80%);
	transition: all 0.5s ease;
}

#land-124{
	background-color: #1D71B8;
}
#land-124:hover{
	box-shadow: 0 0 12px rgba(150,10,70,0.7) inset;
	filter: brightness(80%);
	transition: all 0.5s ease;
}

/*------Noticias y pregúntas-------*/

.contenedor {
	width: 85%;
	display: flex;
	padding: 5%;
	justify-content: space-between;
	gap: 5%;
}

#noticias {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 50px
}
#noticias div {
	display: flex;
	flex-direction: column;
	padding: 5%;
	border-radius: 30px;
	background-color: lightgray;
}

#noticias a{
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	color: white;
	width: 30%;
	font-size: 87%;
	margin-top: 5%;
	margin-left: -5px;
	background-color: dimgrey;
	border-radius: 15px;
	padding: 1%;
}

#preguntas {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 50px
}

#land-preguntas {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 30px;
	gap:5px;
}
#land-preguntas div {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 30px;
}
.preg {
	width: 90%;
	height: auto;
	display: block;
	align-items: center;
	border-radius: 25px;
	padding: 10px 30px;
	background-color: #1D1D1B;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	cursor:pointer;
	margin-bottom: 2px;
	transition: all 300ms ease;
}
.preg:hover{
	background-color: dimgray;
	color: white;
}

.btn-rta {
	display: none
}
.btn-rta:checked ~ .rta {
	max-height: 100%;
	padding: 10px;
	
}

.rta {
	width: auto;
	max-height: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	color: #1D1D1B;
	gap:5px;
	overflow: hidden;
	transition: all 300ms ease;
} 
/*------Nosotros-video-------*/

.multimedia {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
	gap: 5%;
}

.multimedia h3 {
	margin-bottom: 3%;
}

video {
	width: 95%;
}

/*------LINEAS-------*/

.lineas {
	width: 90%;
	height: auto;
	display:flex;
	flex-direction:row;
	padding: 90px 5% 2% 5%;
	justify-content: space-between;
}
.mapa {
	margin: 5% 0px;
	width: 100%;
	height: 500px;
}

.recorridos {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center
}
.recorridos ul {
	height: auto;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	list-style: circle;
}
.recorrido li {
	font-family: 'Open Sans', sans-serif;
	padding-left: 15px;
	}
	.recorrido p{
		font-weight: 600;
	}

.botonera-12 {
	display:flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 40px;
	padding: 3px 30px;
	background-color: #DD0820;
	color: white;
	font-family: 'Righteous';
	font-size: 1.5em;
	font-weight: lighter;
	border-radius: 30px;
}
.botonera-12:hover{
	background-color: black;
	color: #DD0820;
}

.botonera-124 {
	display:flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 40px;
	padding: 3px 30px;
	background-color: #1D71B8;
	color: white;
	font-family: 'Righteous';
	font-size: 1.5em;
	font-weight: lighter;
	border-radius: 30px;
}
.botonera-124:hover{
	background-color: black;
	color: #1D71B8;
}
.btn-recorrido {
	display: none
}
.btn-recorrido:checked ~ .recorrido {
	max-height: 500px;
	overflow: scroll;
	padding: 10px;

}
.recorrido {
	width: 85%;
	max-height: 0px;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	color: #1D1D1B;
	gap: 5px;
	overflow: hidden;
	transition: all 400ms ease;
}
/*------CONTACTO-------*/

input {
	width: 85%;
	background-color:lightgray;
	padding: 15px;
	margin: 10px;
	margin-left: 0px;
	border-radius: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight:600;
	font-style: italic;
}

textarea {
	width: 85%;
	height: 200px;
	background-color:lightgray;
	padding: 15px;
	margin: 10px;
	margin-left: 0px;
	border-radius: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight:600;
	font-style: italic;
}

.boton-enviar{
	width: 30%;
	margin-left: 0px;
	background-color: #1D1D1B;
	color: white;
	font-style:normal;
}

.boton-enviar:hover{
	background-color: dimgray;
	color: #1D1D1B;
}

.columna-1 form article h3{
	margin-bottom: 15px;
}

.contacto{
	width: 80%;
	height: auto;
	display:flex;
	flex-direction:row;
	padding: 90px 5% 2% 5%;
	justify-content: space-between;
	align-items: baseline;
	margin-left: 10%;
}

.contacto div{
	margin: 5% 0px;
}


/*--GENERALES*/
* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	outline: none;
	border: none;
}

.columna-1 {
	width: 50%;
	min-height: auto;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}
.columna-1 article p {
	color:#000000;
	font-size: 20px;
}

.columna-1 div p a {
	color: #000000;
	font-weight: 600;
	text-decoration: underline;
}

.columna-1 div p a:hover{
	color:darkblue;
	font-weight: 600;
	text-decoration: underline;
}

.columna-2 {
	width: 40%;
	margin-top: 20px;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 0px 90px;
	gap: 20px;
}

/*--ESTADO DE SERVICIO--*/

.servicio {
	width: 600px;
	height: 50px;
	position: absolute;
	bottom: 10%;
	right: 5%;
	z-index: 10;
	background-image: url("img/estado-normal.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	animation: estado alternate 30s infinite;
	animation-delay: 2s;
}
@keyframes estado {
	0% {
		background-image: url("img/estado-normal.svg");
	}
	10%{
		background-image: url("img/estado-demora.svg");
	}
	45%{
		background-image: url("img/estado-demora.svg");
	}
	55%{
		background-image: url("img/estado-paro.svg");
	}
	90%{
		background-image: url("img/estado-paro.svg");
	}
	100% {
		background-image: url("img/estado-normal.svg");
	}
}

/*--REPONSIVE--*/

@media screen and (max-width: 700px) {


	/*---GENERAL---*/
			
	.solodesktop {
		visibility: hidden;
	}
		
	.solomobile {
		visibility: visible;
	}	
	
	body{
		margin-top: 10%;
		max-width: 700px;
		width: 100%;
	}
	
	main{
		margin: 0px;
		padding: 0px;
		width: 100%;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}
	
	/*---HEADER---*/	
	
	header{
		padding: 20px 5%;
		width: 100%;
		max-width: 700px;
	}
	
	#menuhamburguesa {
		position: relative;
		top: 0;
		right: 0;
		width: 30%;
		padding: 5%;
		background: dimgray;
		transition: opacity 500ms;
		visibility: hidden;
		opacity: 0;
	}
	
	#menuhamburguesa:target {
		visibility: visible;
		opacity: 1;
	}
	
	#cerrarmenuhambubrguesa {
		position: absolute;
		top: 15px;
		right: 30px;
		font-size: 30px;
		font-weight: bold;
		color: white;
	}
	.botonesmobile a{
		width: 700px;
		display: flex;
		padding: 15px 0px;
		justify-content: space-between;
		color: white;
	}

	.headermobile {
		top: 35px;
	}

	.botonesmobile {
		display: flex;
		flex-direction: column;
		gap:10px;
	}
	
	/*---FOOTER---*/
	
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		width: 100%;
		margin: 0px;
	}

	footer a img {
		display: flex;
		padding: 15px 10px;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		gap: 5px;
	}

	.listas-footer {
		display: flex;
		padding: 0px 50px;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	.listas-footer div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3px;
	}

	.listas-footer div ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2px;
	}

/*-------INDEX-------*/
	
	/*---GALERÍA---*/
	
	
	.carrosel1 img{
		min-height: 100vh;
	}

	.prev, .next {
		top: 5%;
		width: auto;
	}
	.next {
		margin: 0px;
	}

	.texto-img {
		top: 20%;
		left: 10%;
		width: 70%;
	}

	.texto-img h2{
		font-size: 600;
	}
	
	/*---SERVICIO---*/
	.servicio {
		width: 90%;
		height: 100%;
		top: 80%;
		right: 5%;
		z-index: 10;
		background-image: url("img/estado-normal-mobile.svg");
		animation: none;
	}
	
	/*---BOTONES---*/
	
	#land-lineas{
		width:100%;
		display: flex;
		flex-direction: column;
}
	#land-lineas a{
		width:100%;
	}
	#land-lineas button{
		width: 100%;
		height: 50vh;
		float:left;
		border: none;
	}
	#land-lineas button img {
		height: 120px;
	}
	
	/*---FAQ Y NOTICIAS---*/
	
	.contenedor {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		padding: 0px;
		margin: 0px;
		align-items: center;
	}
	
	#preguntas {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
		padding: 0px;
	}

	#land-preguntas div {
		width: 90%;
	}
	
	.preg {
		width: 90%;
		margin: 0px;
		font-size: 1.1em;
		margin-bottom: 2px;
	}
	
	.rta {
		width: 100%;
		font-size: 1.1em;
	} 
	
	#noticias {
		width: 90%;
		font-size: 1.1em;
	}
	
	#noticias h4{
		font-size: 1.1em;
	}
	
	#noticias div {
		display: flex;
	}

	#noticias a{
		width: auto;
	}
	
	/*---VIDEO---*/
	
	.multimedia {
		padding: 0px;
		gap: 5%;
		margin-bottom: 5%
	}

	video {
		width: 100%;
	}
	
/*---CONTACTO---*/
	.contacto{
		flex-direction: column;
		width: 100%;
		padding: 5%;
		margin: 0px;
		max-width: 700px;
		
	}
	
	.contacto main{
		margin: 0px;
		width: 100%;
		overflow-x: hidden;
	}
	
	.columna-2{
		padding: 0px;
		width: 90%;
		max-width: 700px;
		justify-content: center;
   		align-items: center;
	}
	
	.columna-1{
		width: 90%;
		max-width: 700px;
		justify-content: center;
   		align-items: center;
	}
	
	input{
		width: 100%;
		max-width: 700px;
	}
	
	textarea{
		width: 100%;
		max-width: 700px;
	}
	
	.boton-enviar{
		width: 50%;
		margin-right: 0px;
		}
	
	.columna-1 form article h3{
		margin-top: 30px;
		}

	/*---LÍNEAS---*/
	.lineas {
		width: 100%;
		height: 100%;
		flex-direction:column;
		align-items: center;	
		padding: 90px 2% 2% 2%;
	}

	.info-lineas {
		width: 90%;
		min-height: auto;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}
	.info-lineas article {
		gap: 15px;
		display: flex;
		flex-direction: column;
	}

	.botones-lineas {
		width: 90%;
		margin-top: 20px;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0px 90px;
		gap: 20px;
	}
	.botones-lineas  div{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.mapa {
 		display: flex;
 		justify-content: center;
		align-content: center;
 		width: 100%;
 		height: 550px;
	}
	.botonera-12 {
		width: 300px;
 		height: 50px;
		font-size: 1.6em;
	}
	.botonera-124 {
		width: 300px;
 		height: 50px;
		font-size: 1.6em;
	}
	.btn-recorrido:checked ~ .recorrido {
		width: 85%;
    	max-height: 400px;
    	padding: 10px;
	}
	.recorrido {
		width: 80%;
	}
}