@charset "utf-8";
/* CSS Document */
body {
	background-color: gray
}
h1 {
	font-family: 'Righteous';
	font-size: 1.8em;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	font-weight: 1200 ;
	color: #FFFFFF;
}
h3 {
	font-family: 'Righteous';
	font-size: 1em;
	font-style: normal;
	color: #1D1D1B
}
p {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
}